<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Commenting</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

</head>
<body>
     
    <div id="app">
        <p v-if="errors" class="mt-2" style="text-align: center">{{errors}}</p>
        <div class="row justify-content-center mt-3">
            <div class="col-10">
                <form @submit.prevent="onSubmit">
                    <div class="form-group">
                        <label for="commentTest">Pubic a comment</label>
                        <textarea
                                class="form-control"
                                v-model="comment"
                                id="commentTest"
                                cols="80"
                                row="5">

                        </textarea>
                    </div>
                    <button class="btn btn-sm btn-primary" type="submit">Publish</button>
                </form>
              </div>
            </div>
            
            <div class="row justify-content-center mt-3">
                <div class="col-10">
                    <div class="card" v-for="commentt in comments">
                        <div class="card-body">
                            {{commentt}}
                        </div>
                    </div>
                </div>
            </div> 

        </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
    <script src="comment.js"></script>
</body>
</html>