<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>ClassAndStyleBinding</title>
    <style>
        .circle{
            width:250px;
            height:250px;
            border-radius:50%;
        }
    </style>
</head>
<body>
    <div id = app>
      <!--  <div class = "row justify-content-center mt-3">
            <div 
                class="circle"
                v-bind:style="{backgroundColor: color}">
            </div>
        </div> 
        <div class = "row justify-content-center mt-3">
            <input type="text"  placeholder="Enter color name" v-model="color">
        </div> 
        <div class = "row justify-content-center mt-3">
            <p> Color Data: {{color}}</p>
        </div> 
    </div>-->

    <div class = "row justify-content-center mt-3">
        <div class="col-5">
            <p>Write a message</p>
            <textarea class="form-control"
                   v-mode="text"
                   placeholder="Write something"
                   cols="60"
                   rows="5">

            </textarea>
        </div>
    </div> 
    <div class= "row justify-content-center mt-3">
        <input type="checkbox" id="checkbox" v-model="checked">
        <label for="checkbox">&nbsp; &nbsp; Value: {{ checked }}</label>
    </div>
    <div class= "row justify-content-center mt-3">
        <select v-model="city">
            <option >Upleta</option>
            <option>Rajkot</option>
            <option>Ahmedabad</option>
            <option>Banglore</option>
            <option>Pune</option>
            <option>Delhi</option>
            <option>Hydrabad</option>
        </select>
        <span>&nbsp; &nbsp;City: {{ city }}</span>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
    <script src="forms.js"></script>
</body>
</html>